.services {
  padding: 80px 60px;
  background: #111;
  text-align: center;
}

.services h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 40px;
}

/* GRID */
.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.card .icon {
  font-size: 30px;
  color: #ff004f;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #bbb;
  font-size: 14px;
}

/* 🔥 HOVER EFFECT */
.card:hover {
  transform: translateY(-10px);
  background: #ff004f;
}

.card:hover h3,
.card:hover p,
.card:hover .icon {
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .service-grid {
    grid-template-columns: 1fr;
  }
}